---
layout: default
title: "Kluck Engineering"
---

<!-- Sidebar -->
<section id="sidebar">
    <div class="inner">
        <nav>
            <ul>
                <li><a href="#intro">Intro</a></li>
                <li><a href="#what">Projects and prototypes</a></li>
                <li><a href="#oss">Open Source</a></li>
                <li><a href="#who">Who am I?</a></li>
            </ul>
        </nav>
    </div>
</section>

<!-- Wrapper -->
<div id="wrapper">

{% include home.intro.html %}
{% include home.projects.html %}
{% include head.oss.html %}

</div>
