<blockquote>
    An outstanding reason for choosing some sort of God or spiritual-type thing to worship-be it J.C. or Allah, be it Yahweh or the Wiccan mother - goddess or the Four Noble Truths or some infrangible set of ethical principles - is that pretty much anything else you worship will eat you alive.

    <ul>
        <li><b>Worship money and things</b> - if they are where you tap real meaning in life - then you will never have enough. Never feel you have enough.</li>
        <li><b>Worship your own body and beauty and sexual allure</b> and you will always feel ugly, and when time and age start showing, you will die a million deaths before they finally plant you.</li>
        <li><b>Worship power</b> - you will feel weak and afraid, and you will need ever more power over others to keep the fear at bay.</li>
        <li><b>Worship your intellect</b>, being seen as smart - you will end up feeling stupid, a fraud, always on the verge of being found out.</li>
    </ul>
    - David Foster Wallace - <i>This is Water</i>
</blockquote>

<!-- Footer -->
<footer id="footer" class="wrapper style1-alt">
    <div class="inner">
        <ul class="menu">
            <li>Content: {{ site.whoami }}</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>

        <blockquote>
            An outstanding reason for choosing some sort of God or spiritual-type thing to worship-be it J.C. or Allah, be it Yahweh or the Wiccan mother - goddess or the Four Noble Truths or some infrangible set of ethical principles - is that pretty much anything else you worship will eat you alive.

            <ul>
                <li><b>Worship money and things</b> - if they are where you tap real meaning in life - then you will never have enough. Never feel you have enough.</li>
                <li><b>Worship your own body and beauty and sexual allure</b> and you will always feel ugly, and when time and age start showing, you will die a million deaths before they finally plant you.</li>
                <li><b>Worship power</b> - you will feel weak and afraid, and you will need ever more power over others to keep the fear at bay.</li>
                <li><b>Worship your intellect</b>, being seen as smart - you will end up feeling stupid, a fraud, always on the verge of being found out.</li>
            </ul>
            - David Foster Wallace - <i>This is Water</i>
        </blockquote>
    </div>
</footer>

<!-- Scripts -->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.scrollex.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.scrolly.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/skel.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="{{ site.url }}{{ site.baseurl }}/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/main.js"></script>
