<!-- What - Projects and Prototypes -->
<section id="what" class="wrapper style2 fade-up">
    <div class="inner">
        <h2>Projects and Prototypes</h2>
        <p>
            I like to experiment (mostly with javascript or single page apps) and create small
            tools and prototypes on GitHub.
        </p>

        <div class="features">
            {% for project in site.data.projects %}
                <section>
                    <span class="icon major {{ project.icon }}"></span>
                    <h3>{{ project.name }}</h3>
                    <p>
                        {{ project.description }}

                        {% if project.techs %}
                        <br><sub>
                            {% for tech in project.techs %}
                                {% if tech.name %}
                                    <a href="{{ tech.url }}">{{ tech.name }}</a>
                                {% else %}
                                    {{ tech.name }}
                                {% endif %}
                            {% endfor %}
                        </sub>
                        {% endif %}

                    </p>

                    <ul class="actions">
                        <li><a href="{{ project.try }}" class="button special small ">Try it</a></li>
                        {% if project.source %}
                            <li><a href="{{ project.source }}" class="button small icon fa-github">Source Code</a></li>
                        {% endif %}
                    </ul>
                </section>
            {% endfor %}
        </div>

        <ul class="actions">
            <li>
                <a href="https://github.com/skluck" class="button special icon fa-github">See more on GitHub</a>
            </li>
        </ul>

    </div>
</section>
