<!-- Intro -->
<section id="intro" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
        <h1 class="major">Kluck.Engineering</h1>
        <p>
            Projects, prototypes and sometimes writings by a software engineer in Detroit.
        </p>

        <ul class="actions">
            <li><a href="#what" class="button scrolly">Projects</a></li>
            <li><a href="#oss" class="button scrolly">Open Source</a></li>
            <li><a href="#who" class="button scrolly">About Me</a></li>
        </ul>
    </div>
</section>
