<!-- Who -->
<section id="who" class="wrapper style1 fade-up">
    <div class="inner">
        <h2>Who am I?</h2>

        <p>
            Hello. I am a fullstack software and infrastructure developer based in SE Michigan.

            I mostly focus on backend applications and services, but can work with frontend
            technologies, databases and infrastructure as well.
        </p>
        <p>
            In <b>2006</b> I joined HFHS. I’ve written CRMs and patient-management systems for
            <a href="http://www.henryford.com">Henry Ford Health System.</a><br><br>

            Then I joined Quicken Loans in <b>2012</b>. As an engineering lead I helped them launch the future of
            mortgage servicing with <a href="https://www.rocketmortgage.com/">MyQL Servicing</a> (Now known as Rocket Mortgage Servicing).
            <br><br>

            I then began focusing on enterprise-wide solutions in 2014 - building frameworks to establish the foundation for
            PHP development within QL as well as setting standards and best practices for all application development. This includes
            "finding a way to unit test web applications" for the company and developing a test-driven culture.
            <br><br>

            From 2017 and beyond, I've focused on optimizing the SDLC for all QL software development. This includes architecting
            and building a code deployment platform called <a href="https://hal.computer">Hal</a> and expanding it to
            include safe secret management, configuration and feature flags, and infrastructure deployments.
            <br><br>

            <a href="http://elixir-lang.org">Elixir</a> is neat, I’ve spent a lot of time exploring and learning
            about its ecosystem and find the <i>actor model</i> and <i>pattern matching</i> to be incredible language features.
            However, more recently I've spent most of my time working on <a href="https://continuousdelivery.com/2012/10/theres-no-such-thing-as-a-devops-team/">Infrastructure as Code</a>
            with tools such as Terraform and CloudFormation.
            <br><br>
            
            Since mid-2018, I've developed workflows to run Terraform safely and consistently within QL. There were zero team using Terraform
            and now we have over 250 teams using Infrastructure as Code, facilitated by our deployment platform: <a href="https://hal.computer">Hal</a>.
        </p>

        <hr>

        <div class="split style1">
            <section>
                <h3>{{ site.data.about.job.title }} ({{ site.data.about.job.company}})</h3>
                <ul class="alt">
                    {% for responsibility in site.data.about.job.responsibilities %}
                        <li>{{ responsibility }}</li>
                    {% endfor %}
                </ul>
            </section>

            <section>
                <ul class="contact">
                    <li>
                        <h3>Location</h3>
                        <span>
                            {{ site.data.about.location.city }}<br />
                            {{ site.data.about.location.country }}
                        </span>
                    </li>
                    <li>
                        <h3>Email</h3>
                        {{ site.data.about.email }}
                    </li>
                    <li>
                        <h3>GitHub</h3>
                        <ul class="icons">
                            <li><a href="{{ site.data.about.github_url }}" class="fa-github"> github.com/skluck</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</section>
