<!-- Open Source -->
<section id="oss" class="wrapper style3 spotlights">
    <div class="inner">
        <h2>Open Source</h2>
        <p>
            In addition to the small projects mentioned <a href="#what" class="scrolly">elsewhere</a>,
            I also maintain many production-stable open source projects.
        </p>
    </div>

    {% for project in site.data.oss %}
        <section>
            <a href="#" class="image"><img src="images/pic01.jpg" alt="" data-position="center center"></a>
            <div class="content">
                <div class="inner">
                    <h2>{{ project.name }}</h2>
                    <p>{{ project.description }}</p>

                    <div class="table-wrapper">
                        <table>
                            <tbody>
                                {% for repo in project.repos %}
                                    <tr>
                                        <td>{{ repo.name }}</td>
                                        <td><a class="icon fa-github" href="https://github.com/{{ repo.repo }}"> {{ repo.repo }}</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </section>
    {% endfor %}

</section>
